.movies-card-list {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 70px 70px 80px;
}

.movies-card-list__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  row-gap: 60px;
  column-gap: 30px;
}

.movies-card-list__show-more {
  width: 100%;
  background-color: white;
  border-radius: 6px;
  border-style: none;
  padding: 10px 0;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  margin-top: 60px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid #e8e8e8;
}

@media screen and (max-width: 1024px) {
  .movies-card-list {
    padding: 70px 30px 80px;
  }

  .movies-card-list__list {
    row-gap: 30px;
  }

  .movies-card-list__show-more {
    margin-top: 80px;
  }
}

@media screen and (max-width: 544px) {
  .movies-card-list__list {
    row-gap: 39px;
    width: 100%;
  }

  .movies-card-list__show-more {
    margin-top: 76px;
  }

  .movies-card-list {
    padding: 40px 10px 80px;
  }
}
