.promo {
  background-color: white;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.promo__container {
  background: #f5f5f5;
  border-radius: 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  min-height: 587px;
  justify-content: center;
  padding: 30px;
}

.promo__about-project {
  display: grid;
  grid-template-rows: 2fr auto;
  justify-items: center;
}

.promo__title {
  width: 730px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  /* or 116% */

  text-align: center;
  letter-spacing: -0.04em;
  margin: 0;
}

.promo__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;
  max-width: 310px;
  margin: 0;
}

.promo__learn-more-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border: 1px solid #000000;
  color: black;
  border-radius: 3px;
  padding: 10px 17px;
  max-width: 96px;
  max-height: 36px;
  text-align: center;
  transition: all 0.1s ease;
}

.promo__button-container {
  display: flex;
  gap: 10px;
}

.promo__learn-more-link:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.promo__learn-more-link :last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .promo__container {
    min-height: 834px;
  }

  .promo__title {
    width: 100%;
    font-size: 40px;
    line-height: 1.25;
    text-align: center;
  }

  .promo__description {
    text-align: center;
    max-width: 260px;
  }
}

@media screen and (max-width: 544px) {
  .promo {
    padding: 14px;
  }
  .promo__container {
    min-height: 586px;
    padding: 17px;
  }

  .promo__title {
    font-size: 29px;
    line-height: 1.27;
    letter-spacing: -0.03em;
  }

  .promo__learn-more-link {
    padding: 5px 12px;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    gap: 6px;
  }
}
