.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: #f3c1f8;
  color: #000000;
}

.header__container {
  max-width: 1280px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 18px 70px;
  position: relative;
  box-sizing: border-box;
}

.header__link {
  height: 38px;
}

@media screen and (max-width: 1024px) {
  .header__container {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 544px) {
  .header__container {
    padding: 18px 14px;
  }
}
